ul{
    list-style: none;
}
.list>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    text-decoration: none;
}
.list>li>a:focus, .list>li.active>a{
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
footer{
    text-align: center;
    margin-top: 30px;
}
footer a{
    color: #666;
}
a:hover{
    text-decoration: none;
}